## Load packages and source file

In [1]:
import numpy as np
import pandas as pd
import os
import itertools
from itertools import repeat
import sys
sys.path.insert(1,  f'{os.getcwd()}/src/run_functions')
import ntrees_edit
from ntrees_edit import nTreeClus

## Run day sequence analysis

In [5]:
df = pd.read_csv(f'clean_data/clean_day_seqs.csv')
sequences = df.loc[:,'seqs'].tolist()
model     = nTreeClus(sequences, n = None, ntree=10, method = "All", max_clust = 9, verbose = 0)
model.nTreeClus()
out = model.output()
clust_res_RF = out['labels_RF'].tolist()
clust_res_RF_p = out['labels_RF_p'].tolist()
df['ntrees_RF'] = clust_res_RF
df['ntrees_RF_p'] = clust_res_RF_p
df.head()
df.to_csv(f'results/amdc_ntrees.csv')

,seqs,uniq_id,user_id,start_date,num_states,num_missing,hour_missing,missing_ind,weekday,day_type,num_seq_ind,num_O,num_T,num_W,ntrees_RF,ntrees_RF_p
0,HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH...,user_10 _ 2021-02-19,user_10,2021-02-19,1,0,0,0,Friday,M-F,9,0,0,0,0,0
1,HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH...,user_10 _ 2021-02-24,user_10,2021-02-24,1,0,0,0,Wednesday,M-F,9,0,0,0,0,0
2,HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH...,user_10 _ 2021-02-25,user_10,2021-02-25,1,0,0,0,Thursday,M-F,9,0,0,0,0,0
3,HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH...,user_10 _ 2021-02-26,user_10,2021-02-26,1,0,0,0,Friday,M-F,9,0,0,0,0,0
4,HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH...,user_10 _ 2021-03-03,user_10,2021-03-03,1,0,0,0,Wednesday,M-F,9,0,0,0,0,0

## Run week sequence analysis

In [7]:
df2 = pd.read_csv(f'clean_data/clean_week_seqs.csv')
sequences2 = df2.loc[:,'seqs'].tolist()
model2     = nTreeClus(sequences2, n = None, ntree=10, method = "All", max_clust = 9, verbose = 0)
model2.nTreeClus()
out2 = model2.output()
clust_res_DT = out2['labels_DT'].tolist()
df2['ntrees_DT'] = clust_res_DT
df2.head()
df2.to_csv(f'results/amdc_week_ntrees.csv')

                                                seqs   user_id  ntrees_DT
0  HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH...  user_106          0
1  HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH...  user_109          0
2  HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH...  user_111          0
3  HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH...  user_142          0
4  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...  user_151          0